@layer reset, init, design;

@import url(./normalize.css) layer(reset);


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap') layer(init);

@layer init {
    :root {
        color-scheme: light dark;
        --header-bg-color: light-dark(#3B3E40,#3B3E40);
        --primary-color: light-dark(#66D4D4,#478f8f);
        --secondary-color:light-dark(#fff,#fff);
        --text-color: light-dark(#000,#fff);
        --text-color-primary: light-dark(#fff,#fff);
        --header-text-color: light-dark(#fff,#fff);
        --bg-color: light-dark(#fff,#000);
    }

    body {
        background-color: var(--bg-color);
    }

    html {
        font-family: 'Open Sans', sans-serif;
        font-size: 100%;
        color: var(--text-color);

    }

}

@layer design {
    h1 {
        font-size: 4rem;
        font-weight: 800;
    }

    .header {
        background-image: url(../images/images/header-2560w.webp);
        background-size: cover;
        background-position: top left;
        background-color: var(--header-bg-color);
        color: var(--header-text-color);
        line-height: 1.5;
        padding: 1rem;
    }

    .header__nav {
        text-align: center;

    }

    .header__link {

    }
    .header__intro {
        margin-top: 10vh;
    }
    .button{
        display: inline-block;
        border-radius: 0.5rem;
        padding: 0.75em 2em;
        text-decoration: none;
    }
    .button--light{
        background-color: var(--bg-color);
        color:var(--text-color);
    }
    main{
        max-width: 960px;
        margin: 0 auto;
    }
    .img--fluid{
        display:block;
        width: 100%;
        height: auto;
    }
    .img--block{
        margin: 0;
    }
    .img-block_figcaption{
text-align: center;
margin-top: 0.5em;
    }
    .info-block{
        margin-top: 2.5rem;
        padding: 1rem;


    }
    .info-block--bordered{
        border-color: var(--primary-color);
        border-style: solid;
    }
    .info-block__header{
        font-weight: 900;

    }
    .list__item{
        margin-bottom: 1rem;
      
    }
    .list__item::marker{
        color: var(--primary-color);
    }
.button--primary{
background-color: var(--primary-color);
color: var(--text-color-primary);
}
.figcaption__text{
    margin-top: 2rem;
}
.figcaption__tittle{
font-weight: 900;
margin-bottom: 1rem;
}
.figure--inlineblock{
    display: inline-block;
    max-width: 20rem;
    vertical-align: top;
    padding: 1em;
    
}
.info-block--add{
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    border: none;
    text-align: center;
}
.info-block--add__heading{
    font-size: calc(1em + 3vw);
}
.heading--bigger2x{
    font-size: 2em;
}
.footer{
    display: block;
    background-color: var(--header-bg-color);
    text-align: center;
    color: var(--text-color-primary);
    padding:2.5rem;
    margin-top: 4rem;
}
}